{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="sticky-top container bg-success text-white">
    <table class="table">
      <tr>
        <th scope="row" class="text-light">Qtd {{ qtd_tot }}</th>
        <th scope="row" class="text-light">Valor R$ {{ valor_tot }}</th>
        <td>
          <button type="button" class="btn  btn-light text-success" data-toggle="modal" data-target="#processa_pedido">
          Gerar Pedido
        </button>
        </td>
      </tr> 
    </table>
</div>

<div class="modal fade" id="processa_pedido" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{ instance.produto.produto }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Observacoes do Pedido</p>
        <form method="post" id="usrform">{% csrf_token %}
          <!-- <textarea name="obs_pedido" rows="20" cols="50">
          </textarea>
          <br></br> -->
          <!-- <input type="text" name="obs_pedido" rows="20" cols="50"> -->
          <textarea rows="20" cols="50" name="obs_pedido" form="usrform"></textarea>
          <br></br>
          <input type="submit" name="processa" value="Processa" class="bg-success text-white">
        </form>
      </div>
    </div>
  </div>
</div>
<div class='row'>
    {% for instance in object_list %}
    <div class="col-lg-3 col-md-6 mb-4">
        <!-- <div class='col my-3'> -->
            <div class="card">
                <div class="card-body-fluid">
                    <div class="bg-light">
                      <!-- <h5 class="card-title">{{ instance.produto }}</h5>
                      <h6 class="card-text text-success"> {{ instance.preco }}</h6> -->
                      <p>
                        <b>{{ instance.produto.produto }} -</b> <strong class="text-success" >R$ {{ instance.produto.preco }}</strong><br />
                        <small>{{ instance.produto.sortido }} -</small><small class="text-lowercase"> {{ instance.produto.composicao }} </small>
                        
                      </p>
                      <p></p>
                      <!-- <p class="card-text">{{ instance.sortido }}</p>
                      <p class="card-text">{{ instance.composicao }}</p> -->
                    </div>
                    
                      
                      <img src="{% static instance.produto.url " " %}" width=330 height=100%>
                      <div class="table-responsive">
                        <table class="table">
                            <thead class="thead bg-light">
                              <tr>
                                <th scope="col">COR</th>
                                {% for t in instance.produto.tams %}
                                <th scope="col">{{ t }}</th>
                                {% endfor %}
                              </tr>
                            </thead>
                            <tbody>
                                {% for it in instance.itens %}
                              <tr>
                                <th scope="row">{{ it.cor }}</th>
                                {% for q in it.qtds %}
                                <td> {{ q }} </td>
                                
                                {% endfor %}
                              </tr>
                              {% endfor %}
                            </table>
                              <table class="table">
                              <tr>
                                <th scope="row" class="bg-light">Qtd Item</th>
                                <td> {{ instance.qtd_tot }} </td>
                                <th scope="row" class="bg-light">Valor Item</th>
                                <td>R$ {{ instance.valor_tot }} </td>
                              </tr>                              
                            </tbody>
                        </table>
                        <form method="post">{% csrf_token %}
                          <input type="hidden" id="produto" name="produto" value={{instance.produto.produto}}>
                          <input type="submit" name="remove" value="Remover">
                          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#X{{ instance.produto.produto_modal }}X">
                            Alterar
                          </button>
                        </form>
                      </div>
                    
                    


                </div>
            </div>  
        
        </div>

        <div class="modal fade" id="X{{ instance.produto.produto_modal }}X" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{ instance.produto.produto }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form method="post" >{% csrf_token %}
                  <input type="hidden" id="produto" name="produto" value={{instance.produto.produto}}>
                  <!-- <input type="hidden" id="tams" name="tams" value= "{{instance.tams}}">
                  <input type="hidden" id="url" name="url" value= "{{instance.url}}">
                  <input type="hidden" id="sortido" name="sortido" value= "{{instance.sortido}}">
                  <input type="hidden" id="composicao" name="composicao" value= "{{instance.composicao}}">
                  <input type="hidden" id="preco" name="preco" value= "{{instance.preco}}"> -->
                  <img src="{% static instance.produto.url " " %}" width=330 height=100%>
                  <div class="table-responsive">
                    <table class="table table-sm">
                        <thead class="thead bg-light">
                          <tr>
                            <th scope="col">COR</th>
                            {% for t in instance.produto.tams %}
                            <th scope="col">{{ t }}</th>
                            {% endfor %}
                          </tr>
                        </thead>
                        <tbody>
                            {% for estq in instance.produto.estoque %}
                          <tr>
                            <th scope="row">{{ estq.cor }}</th>
                            {% for q in estq.qtds %}
                            <td>{{ q }}</br><input value="0" type="number" id="number" name="@{{estq.cor}}@" min="0" max= "{{ q }}" width="3"></td>
                            
                            {% endfor %}
                          </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                    <input type="submit" name="altera" value="Alterar" class="bg-success text-white">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}


</div>

{% endblock %}