{% extends "base.html" %}

{% load static %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
      <a class="navbar-brand" href="../">Greenish</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            {% for col in subcategorias %}
              <li class="nav-item active">
                  <a class="nav-link" href="subcategoria-{{ col }}/" >{{ col }} <span class="sr-only">(current)</span></a>
              </li>
            {% endfor %}
              <li class="nav-item">
                  <a class="nav-link" href="/accounts/logout/">Logout</a>
              </li>
            </div>
          </ul>
      </div>
  </div>
</nav>
{% endblock %}