{% extends "base.html" %}

{% load static %}

{% block content %}


<div class='row'>
    {% for instance in page_obj %}
    <div class="col-lg-3 col-md-6 mb-4">
        <!-- <div class='col my-3'> -->
            <div class="card">
                <div class="card-body-fluid">
                    <div class="bg-light">
                      <!-- <h5 class="card-title">{{ instance.produto }}</h5>
                      <h6 class="card-text text-success"> {{ instance.preco }}</h6> -->
                      <p>
                        <b>{{ instance.produto }} -</b> <strong class="text-success" >R$ {{ instance.preco }}</strong><br />
                        <small>{{ instance.sortido }} -</small><small class="text-lowercase"> {{ instance.composicao }} </small>
                        
                      </p>
                      <p></p>
                      <!-- <p class="card-text">{{ instance.sortido }}</p>
                      <p class="card-text">{{ instance.composicao }}</p> -->
                    </div>

                    <img src="{% static instance.url " " %}" width=330 height=100%>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead bg-light">
                              <tr>
                                <th scope="col">COR</th>
                                {% for t in instance.tams %}
                                <th scope="col">{{ t }}</th>
                                {% endfor %}
                              </tr>
                            </thead>
                            <tbody>
                                {% for estq in instance.estoque %}
                              <tr>
                                <th scope="row">{{ estq.cor }}</th>
                                {% for q in estq.qtds %}
                                <td> {{ q }} </td>
                                {% endfor %}
                              </tr>
                              {% endfor %}
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>  
        
        </div>
    {% endfor %}


</div>
{% if is_paginated %}
<nav class="d-flex justify-content-center wow fadeIn">
  <ul class="pagination pg-blue">

    {% if page_obj.has_previous %}
    <li class="page-item">
    {% if selected_subcat == '' %}
    <a class="page-link text-success" href="?page={{ page_obj.previous_page_number }}&colecao={{ selected_col }}&categoria={{ selected_cat }}" aria-label="Previous">
      <span aria-hidden="true">&laquo;</span>
      <span class="sr-only">Previous</span>
    </a>
    {% else %}
    <a class="page-link text-success" href="?page={{ page_obj.previous_page_number }}&colecao={{ selected_col }}&categoria={{ selected_cat }}&subcategoria={{ selected_subcat }}" aria-label="Previous">
      <span aria-hidden="true">&laquo;</span>
      <span class="sr-only">Previous</span>
    </a>
    {% endif %}
    </li>
    {% endif %}

    <li class="page-item active">
      <a class="page-link bg-success" href="?page={{ page_obj.number }}">{{ page_obj.number }}
        <span class="sr-only">(current)</span>
      </a>
    </li>

    {% if page_obj.has_next %}
    <li class="page-item">
      {% if selected_subcat == '' %}
      <a class="page-link text-success" href="?page={{ page_obj.next_page_number }}&colecao={{ selected_col }}&categoria={{ selected_cat }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
      {% else %}
      <a class="page-link text-success" href="?page={{ page_obj.next_page_number }}&colecao={{ selected_col }}&categoria={{ selected_cat }}&subcategoria={{ selected_subcat }}"" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
      {% endif %}
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock %}