{% extends "base.html" %}

{% load static %}

{% block content %}



{% if page_obj %}
<form>
  {% if selected_col %}
  <input type="hidden" id="colecao" name="colecao" value="{{ selected_col }}">
  {% endif %}
  {% if selected_cat %}
    <input type="hidden" id="categoria" name="categoria" value="{{ selected_cat }}">
  {% endif %}
  {% if selected_subcat != '' %}
  <input type="hidden" id="subcategoria" name="subcategoria" value="{{ selected_subcat }}">
  {% endif %}

  <div class="form-group">
    <label for="exampleFormControlSelect1">Periodo</label>
    <select name="periodo" class="form-control" id="exampleFormControlSelect1" onchange="this.form.submit();">
      {% if selected_periodo == "30dias" %}
        <option value="Imediato">Imediato</option>
        <option value="30dias" selected="selected">Até 30 dias</option>
      {% else %}
        <option value="Imediato" selected="selected">Imediato</option>
        <option value="30dias">Até 30 dias</option>
      {% endif %}
    </select>
  </div>
</form>
<h7 class="text-secondary">Página {{page_obj.number}} de {{qtd_pags}} - {{ qtd_prods }} produto(s) </h7>
<hr></hr>
{% elif selected_cat == '' %}
{% for ban in banners %}

<div class="container-fluid banner">
  <a href="{{ ban.url }}"">
    <img src="{{ ban.img }}"" width=100% height=100%>
  </a>
</div>

{% endfor %}
{% else %}
<h7 class="text-secondary">Página 0 de 0 - 0 produto(s) </h7>
<hr></hr>
{% endif %}



<div class='row'>
    {% for instance in page_obj %}
    <div class="col-lg-3 col-md-6 mb-4">
            <div class="card product-card">
                <div class="card-body-fluid">
                    <div class="bg-light">
                      <p>
                        <b>{{ instance.produto }} -</b> <strong class="text-success" > {{ instance.preco }}</strong><br />
                        <small>{{ instance.sortido }} -</small><small class="text-lowercase"> {{ instance.composicao }} </small>
                        
                      </p>
                      <p></p>
                    </div>
                    <div class="container-fluid banner">
                        <img src="{% static instance.url " " %}" width=330 height=100%>
                    </div>
                    
                      <div class="d-flex justify-content-center">
                        <button type="button" class="banner btn btn-success" data-toggle="modal" data-target="#X{{ instance.produto_modal }}X">
                          Comprar
                        </button>
                      </div>

                    
                    <!-- Modal -->
                    <div class="modal" id="X{{ instance.produto_modal }}X" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">{{ instance.produto }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form method="post" >{% csrf_token %}
                              <input type="hidden" id="produto" name="produto" value={{instance.produto}}>
                              <div class="container-fluid banner">
                                <img src="{% static instance.url " " %}" width=330 height=100%>
                              </div>
                              <div class="table-responsive">
                                <table class="table table-sm">
                                    <thead class="thead bg-light">
                                      <tr>
                                        <th scope="col">COR</th>
                                        {% for t in instance.tams %}
                                        <th scope="col">{{ t }}</th>
                                        {% endfor %}
                                      </tr>
                                    </thead>
                                    <tbody>
                                        {% for estq in instance.estoque %}
                                      <tr>
                                        <th scope="row">{{ estq.cor }}</th>
                                        {% for q in estq.qtds %}
                                        <td>{{ q }}</br><input value="0" type="number" id="number" name="@{{estq.cor}}@" min="0" max= "{{ q }}" width="3"></td>
                                        
                                        {% endfor %}
                                      </tr>
                                      {% endfor %}
                                    </tbody>
                                </table>
                                <input type="submit" value="Adcionar ao carrinho" class="banner bg-success text-white">
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    


                </div>
            </div>  
        
        </div>
    {% endfor %}
</div>

{% if is_paginated %}
{% if selected_subcat == '' %}
  <nav class="d-flex justify-content-center wow fadeIn">
    <div class="pagination pagination-small">
      <ul class="pagination pg-success flex-wrap">
        <li class="page-item"></li>
        {% if page_obj.has_previous %}
        <a class="page-link text-success" href="?page={{ page_obj.previous_page_number }}&colecao={{ selected_col }}&categoria={{ selected_cat }}&periodo={{ selected_periodo }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
        {% endif %}
          {% for p in page_obj.paginator.page_range %}
            {% if p == page_obj.number %}
            <a class="page-link bg-success text-white">{{ page_obj.number }}
              <span class="sr-only">(current)</span>
            </a>
            {% else %}
            <a class="page-link text-success" href="?page={{ p }}&colecao={{ selected_col }}&categoria={{ selected_cat }}&periodo={{ selected_periodo }}"">{{ p }}</a>
            {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
          <a class="page-link text-success" href="?page={{ page_obj.next_page_number }}&colecao={{ selected_col }}&categoria={{ selected_cat }}&periodo={{ selected_periodo }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
          {% endif %}
        </li>
      </ul>
    </div>
  </nav>
{% else %}
  <nav class="d-flex justify-content-center wow fadeIn">
    <div class="pagination pagination-small">
      <ul class="pagination pg-success flex-wrap">
        <li class="page-item"></li>
        {% if page_obj.has_previous %}
        <a class="page-link text-success" href="?page={{ page_obj.previous_page_number }}&colecao={{ selected_col }}&categoria={{ selected_cat }}&subcategoria={{ selected_subcat }}&periodo={{ selected_periodo }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
        {% endif %}
          {% for p in page_obj.paginator.page_range %}
          {% if p ==  page_obj.number %}
          <a class="page-link bg-success text-white">{{ page_obj.number }}
            <span class="sr-only">(current)</span>
          </a>
          {% else %}
          <a class="page-link text-success" href="?page={{ p }}&colecao={{ selected_col }}&categoria={{ selected_cat }}&subcategoria={{ selected_subcat }}&periodo={{ selected_periodo }}"">{{ p }}</a>
          {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
          <a class="page-link text-success" href="?page={{ page_obj.next_page_number }}&colecao={{ selected_col }}&categoria={{ selected_cat }}&subcategoria={{ selected_subcat }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
          {% endif %}
        </li>
      </ul>
    </div>
  </nav>
{% endif %}
{% endif %}

{% endblock %}