{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>Greenish B2B</title>

    <style>
      #number {
      width: 3em;
      }
      #tabela {
        font-size: 1em;
      }
      .product-card{
        margin-right: 2px;
      }
      .banner{
        margin-left:auto;
        margin-right:auto;
        width:90%;
        margin-bottom: 30px;
        margin-top: 30px;
        
      }
      .scrollable-menu {
        height: auto;
        max-height: 600px;
        overflow-x: hidden;
      }      
    </style>
</head>

<body>
    
    <nav class="sticky-top navbar navbar-expand-lg navbar-dark bg-light">
        <div class="container">
            <a class="navbar-brand text-success" href="../">Greenish</a>
            <button class="navbar-toggler bg-success " type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle bg-light text-success" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tudo
                      </button>
                    
                    <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
                        {% for cat in categorias %}
                        <div class='col my-3'>
                          <a class="dropdown-header text-success" href="../../?categoria={{ cat.cat }}">{{ cat.cat }}</a>
                            {% for sub in cat.subcats %}
                            <a class="dropdown-item" href="../../?categoria={{ cat.cat }}&subcategoria={{ sub }}">{{ sub }}</a>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                  </div>
                  {% for col in colecoes %}
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle bg-light text-success" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{ col }}
                        </button>
                      
                      <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
                          {% for cat in categorias %}
                          <div class='col my-3'>
                            <a class="dropdown-header text-success" href="../../?colecao={{ col }}&categoria={{ cat.cat }}">{{ cat.cat }}</a>
                              {% for sub in cat.subcats %}
                              <a class="dropdown-item" href="../../?colecao={{ col }}&categoria={{ cat.cat }}&subcategoria={{ sub }}">{{ sub }}</a>
                              {% endfor %}
                          </div>
                          {% endfor %}
                      </div>
                    </div>
                  {% endfor %}
                  <li class="nav-item">
                    <a class="nav-link text-success" href="/carrinho/">Carrinho</a>
                  </li>
                  <li class="nav-item">
                    <span class='badge badge-success' id='lblCartCount'> {{ qtd_carrinho }}</span>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link text-success" href="/accounts/logout/">Logout</a>
                  </li>
      
                </ul>
            </div>
        </div>
      </nav>


    {% block content %}
    
    replace me

    {% endblock %}
    
</body>


</html>